{% extends 'base.html' %}

{% block content %}
<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header bg-danger text-white">
                    <h5 class="mb-0">Delete User</h5>
                </div>
                <div class="card-body">
                    <p class="mb-4">Are you sure you want to delete the user "{{ object.username }}"?</p>
                    <form method="post">
                        {% csrf_token %}
                        <div class="text-end">
                            <a href="{% url 'accounts:user_list' %}" class="btn btn-secondary">Cancel</a>
                            <button type="submit" class="btn btn-danger">Delete User</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}