{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container mt-4">
    <div class="row">
        <div class="col-12">
            <h2>Dashboard</h2>
            <hr>
        </div>
    </div>
    
    <div class="row mt-4">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Total Transactions</h5>
                    <p class="card-text display-4">{{ total_transactions }}</p>
                </div>
            </div>
        </div>
        
        <!-- Add more dashboard widgets here -->
    </div>
</div>
{% endblock %} 